extends layout
block content
	if msg
		h1= msg
	.container.text-center
		h1 Order
		.formDiv.col-sm-12
			form(method='POST')
				.form-group
					label(for='name') Name
					input.form-control#name(type="text" name='name' placeholder="Name" required)/
				.form-group
					label(for='email') Email
					input.form-control#email(type="email" name='email' placeholder="Email" required)/
				.form-group
					label(for='phone') Phone
					input.form-control#phone(type="tel" name='phone' placeholder="Phone" required)/
				.form-group
					label(for='size') Size
					select.form-control#size(name='size' required)
						option Select a Size:
						each size in sizes
							option(value=size.inches) #{size.name}: #{size.inches}
				.form-group
					label(for='toppings') Toppings
					select.form-control#toppings(name='toppings' multiple)
						each topping in toppings
							option(value=topping.name)= topping.name
				.form-group.btn
					button(type="submit") Submit
